# editor config directory
.vscode/

# PlatformIO cache directory
.pio/

# ignore the annoying automatically created PlatformIO .gitignore file
firebeetle_code/.gitignore

# python cache directory
__pycache__/
